<div class="position-fixed fixed-bottom pb-3 nav">
    <div class="line mb-3"></div>
    <div class="container-fluid">
        <div class="row justify-content-between align-items-end pb-1">
            <div class="container col-2 col-lg-1 text-center menu-home-container">
                <a href="{{ path('index') }}"><div class="container-img-menu"></div></a>
            </div>
            <div class="container col-2 col-lg-1 text-center menu-map-container">
                <a href="{{ path('trails_index') }}"><div class="container-img-menu"></div></a>
            </div>
            <div class="container col-2 col-lg-1 text-center menu-tree-container">
                <a href="{{ path('trees_index') }}"><div class="container-img-menu"></div></a>
            </div>
            <div class="container col-2 col-lg-1 text-center menu-animal-container">
                <a href="{{ path('animals_index') }}"><div class="container-img-menu"></div></a>
            </div>
            <div class="container col-2 col-lg-1 text-center menu-contact-container">
                <a href="{{ path('contact') }}"><div class="container-img-menu"></div></a>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="container col-2 col-lg-1 text-center">
                <a href="{{ path('index') }}" class="txt-menu menu-home-txt">Accueil</a>
            </div>
            <div class="container col-2 col-lg-1 text-center">
                <a href="{{ path('trails_index') }}" class="txt-menu menu-map-txt">Parcours</a>
            </div>
            <div class="container col-2 col-lg-1 text-center">
                <a href="{{ path('trees_index') }}" class="txt-menu menu-tree-txt">Arbres</a>
            </div>
            <div class="container col-2 col-lg-1 text-center">
                <a href="{{ path('animals_index') }}" class="txt-menu menu-animal-txt">Oiseaux</a>
            </div>
            <div class="container col-2 col-lg-1 text-center">
                <a href="{{ path('contact') }}" class="txt-menu menu-contact-txt">Contact</a>
            </div>
        </div>
    </div>
</div>
