{% extends 'base.html.twig' %}

{% block title %}Trees index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="page-title">Les arbres de La Borie</h2>
            <div class="container-trees">
                {% for tree in trees %}
                    <div class="box-trees">
                        <div class="box-trees-content">
                            <a href="{{ path('trees_show', {'id': tree.id}) }}">
                                <img src="{{ vich_uploader_asset(tree,'imageFile') }}">
                            </a>
                        </div>
                        <div class="box-trees-content">
                            <a href="{{ path('trees_show', {'id': tree.id}) }}">
                                <h3>{{ tree.name }}</h3>
                                <p> {{ tree.description }} </p>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <td colspan="6">no records found</td>
                {% endfor %}
            </div>
    </div>
    <script src="{{ asset('js/menu-tree.js') }}"></script>

{% endblock %}
