{% extends 'base.html.twig' %}

{% block title %}L'Arborie | Les arbres de La Borie{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container-trees">
                <div class="box-tree-info">
                    <h2 class="tree-info-headtitle">{{ tree.name }}</h2>
                    <p class="tree-info-title pb-2 pt-5">Description</p>
                    <p class="tree-info-text">{{ tree.description | striptags }}</p>
                    <p class="tree-info-title pb-2 pt-5">Durée de vie moyenne de l'arbre :</p>
                    <p class="tree-info-text">{{ tree.plantingYear }} ans.</p>
                    <p class="tree-info-title pb-2 pt-5">Photos</p>
                    <img class="trees-show-img" src="{{ vich_uploader_asset(tree,'imageFile') }}">
                    {% if vich_uploader_asset(tree,'imageFile_2') != null %}
                        <img class="trees-show-img" src="{{ vich_uploader_asset(tree,'imageFile_2') }}">
                        {% if vich_uploader_asset(tree,'imageFile_3') != null %}
                            <img class="trees-show-img" src="{{ vich_uploader_asset(tree,'imageFile_3') }}">
                            {% if vich_uploader_asset(tree,'imageFile_4') != null %}
                                <img class="trees-show-img" src="{{ vich_uploader_asset(tree,'imageFile_4') }}">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            <a href="{{ path('trees_index') }}" class="btn btn-success tree-info-back">Retour</a>
        </div>
    </div>
    <script src="{{ asset('js/menu-tree.js') }}"></script>
{% endblock %}
