{% extends 'base.html.twig' %}

{% block title %}Trees{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="test">Trees index</h1>
        <div class="container-trees">
                <div class="box-trees">
                    <h3>{{ tree.name }}</h3>
                    <h5>Description :</h5>
                    <p>{{ tree.description }}</p>
                    <h5>Année de mise en terre :</h5>
                    <p>{{ tree.plantingYear }}</p>
                    <h5>Images :</h5>
                    <img src="{{ vich_uploader_asset(tree,'imageFile') }}">
                </div>
        </div>
    </div>
    <a href="{{ path('trees_index') }}">Retour</a>
{% endblock %}
