{% extends 'base.html.twig' %}

{% block title %}Trees{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container-trees">
                <div class="box-tree-info">
                    <h2 class="tree-info-headtitle">{{ tree.name }}</h2>
                    <p class="tree-info-title pb-2 pt-5">Description :</p>
                    <p class="tree-info-text">{{ tree.description }}</p>
                    <p class="tree-info-title pb-2 pt-5">Année de mise en terre :</p>
                    <p class="tree-info-text">{{ tree.plantingYear }}</p>
                    <p class="tree-info-title pb-2 pt-5">Images :</p>
                    <img src="{{ vich_uploader_asset(tree,'imageFile') }}">
                    {% if vich_uploader_asset(tree,'imageFile_2') != null %}
                        <p class="tree-info-title pb-2 pt-5">Images 2 :</p>
                        <img class="trees-show-img" src="{{ vich_uploader_asset(tree,'imageFile_2') }}">
                        {% if vich_uploader_asset(tree,'imageFile_3') != null %}
                            <p class="tree-info-title pb-2 pt-5">Images 3 :</p>
                            <img class="trees-show-img" src="{{ vich_uploader_asset(tree,'imageFile_3') }}">
                            {% if vich_uploader_asset(tree,'imageFile_4') != null %}
                                <p class="tree-info-title pb-2 pt-5">Images 4 :</p>
                                <img class="trees-show-img" src="{{ vich_uploader_asset(tree,'imageFile_4') }}">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            <a href="{{ path('trees_index') }}" class="btn btn-success tree-info-back">Retour</a>
        </div>
    </div>
    <script src="{{ asset('js/menu-tree.js') }}"></script>
{% endblock %}
