{% extends 'base.html.twig' %}

{% block title %}Animals{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container-animals">
                <div class="box-animal-info">
                    <h2 class="animal-info-headtitle">{{ animal.name }}</h2>
                    <p class="animal-info-title pb-2 pt-5">Famille :</p>
                    <p class="animal-info-text">{{ animal.family }}</p>
                    <p class="animal-info-title pb-2 pt-5">Description :</p>
                    <p class="animal-info-text">{{ animal.description }}</p>
                    <p class="animal-info-title pb-2 pt-5">Images :</p>
                    <img src="{{ vich_uploader_asset(animal,'imageFile') }}">
                    {% if vich_uploader_asset(animal,'imageFile_2') != null %}
                        <p class="animal-info-title pb-2 pt-5">Images 2 :</p>
                        <img class="animals-show-img" src="{{ vich_uploader_asset(animal,'imageFile_2') }}">
                        {% if vich_uploader_asset(animal,'imageFile_3') != null %}
                            <p class="animal-info-title pb-2 pt-5">Images 3 :</p>
                            <img class="animals-show-img" src="{{ vich_uploader_asset(animal,'imageFile_3') }}">
                            {% if vich_uploader_asset(animal,'imageFile_4') != null %}
                                <p class="animal-info-title pb-2 pt-5">Images 4 :</p>
                                <img class="animals-show-img" src="{{ vich_uploader_asset(animal,'imageFile_4') }}">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            <a href="{{ path('animals_index') }}" class="btn btn-success animal-info-back">Retour</a>
        </div>
    </div>
    <script src="{{ asset('js/menu-animal.js') }}"></script>
{% endblock %}
